<template name="post">
  {{#ionItem buttonRight=true avatar=true class="card"}}
    {{_id}}
    <div class="row">
      <div class="col">
        <p>{{a.votes}} votes</p>
        <img src="http://www.dhresource.com/200x200s/f2-albu-g1-M01-56-43-rBVaGVScFQ-AWRukAAGhHsuf7hw832.jpg/-ynm-2014-fashion-women-men-animal-leopard.jpg">
      </div>
      <div class="col">
        <p>{{b.votes}} votes</p>
        <img src="http://www.dhresource.com/albu_767995545_00-1.200x200/wholesale-wholesale-2014-new-lady-fashion.jpg"/>
      </div>
    </div>

  {{/ionItem}}
</template>
